[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
# [include fluidd.cfg]
# [include get_ip.cfg]
# [include Macro.cfg]
# [include moonraker_obico_macros.cfg]

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg.
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
# [include options/probe/stock.cfg]
# [include options/probe/eddy.cfg]
[include /home/biqu/printer_data/config/Demon_BTT_Eddy_Offset.cfg ]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD5054747393921691657-if00
# previously serial: /dev/ttyACM1
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FF72064746373221300457-if00
# previously serial: /dev/ttyACM0
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 40000
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 355
position_max: 355
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: True
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True
run_current: 1.1 # previously 1.5
#hold_current: 1.2 # previously 1.5
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 70 # previously 65
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0
position_endstop: 364
position_max: 364
homing_speed: 30
homing_retract_dist: 0  # previously 2
homing_positive_dir: true
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True
run_current: 1.1 # previously 1.5
#hold_current: 1.2 # previously 1.5
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 70 # previously 65
diag_pin: PE13

[stepper_z] #motherboard：Z3
step_pin:PC0
dir_pin:PE5
enable_pin:!PC1
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 347
position_min: -5
#position_endstop: 0
homing_speed: 15.0 # was set to 30 and may be too fast
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6
interpolate: true
run_current: 0.55 # previously 0.58
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3
dir_pin:!PD1
enable_pin:!PD4
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z1]
uart_pin:PD2
interpolate: true
run_current:  0.55 # previously 0.58
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5
enable_pin:!PB5
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z2]
uart_pin:PD6
interpolate: true
run_current: 0.55 # previously 0.58
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11
dir_pin:!PD9
enable_pin:!PD12
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z3]
uart_pin:PD10
interpolate: true
run_current: 0.55 # previously 0.58
#hold_current: 0.58
sense_resistor: 0.150
uart_address:3
stealthchop_threshold: 999999

# Feb01 Start Eddy changes

# also defined in options/probe/eddy.cfg
# # Adding eddy/Eddy probe info
# # The MCU section only applies to the Eddy USB. For Eddy Coil you will use the MCU name of the toolboard that you connected the Eddy Coil to.
# [mcu eddy]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_504434031036441C-if00 # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id```
# restart_method: command

# Did you read all of the comments before the macros? Make sure that you do and then uncomment the ones that you need. Remove this line when you are done.

# also defined in options/probe/eddy.cfg
# [temperature_sensor btt_eddy_mcu]
# sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
# sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
# min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
# max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

# This is also defined in options/probe/eddy.cfg
# [probe_eddy_current btt_eddy]
# sensor_type: ldc1612
# z_offset: 2.5
# #i2c_address:
# i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
# i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# # Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# # For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
# x_offset: 0
# y_offset: 21.42

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
# This is also defined in options/probe/eddy.cfg
# [temperature_probe btt_eddy]
# sensor_type: Generic 3950
# sensor_pin: eddy:gpio26
# horizontal_move_z: 2

# This is also defined in options/probe/eddy.cfg

# Uncomment this if you are using Eddy as the probe AND the homing endstop
# [safe_z_home]
# home_xy_position: 150, 150 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
# z_hop: 10
# z_hop_speed: 25
# speed: 200

###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.


# # Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
# [save_variables]
# filename: ~/printer_data/config/variables.cfg



# # Uncomment this if you are using Eddy as the probe AND the homing endstop
# [force_move]
# enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.



# # Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
# [delayed_gcode RESTORE_PROBE_OFFSET]
# initial_duration: 1.
# gcode:
#   {% set svv = printer.save_variables.variables %}
#   {% if not printer["gcode_macro SET_GCODE_OFFSET"].restored %}
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ svv.nvm_offset|default(0) }
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=restored VALUE=True
#   {% endif %}



# # Uncomment this if you are using Eddy as the probe AND the homing endstop
# # Take note of the lines that should only be used if you have a KNOMI installed.
[gcode_macro G28]
rename_existing: G28.1
gcode:
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg
  G28.1 {rawparams}
  {% if not rawparams or (rawparams and 'Z' in rawparams) %}
    PROBE
    SET_Z_FROM_PROBE
  {% endif %}
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg



# # Uncomment this if you are using Eddy as the probe AND the homing endstop
# [gcode_macro SET_Z_FROM_PROBE]
# gcode:
#     {% set cf = printer.configfile.settings %}
#     SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
#     G90
#     G1 Z{cf.safe_z_home.z_hop}


# # Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
# [gcode_macro Z_OFFSET_APPLY_PROBE]
# rename_existing: Z_OFFSET_APPLY_PROBE_ORIG
# gcode:
#   SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }



# # Uncomment the lines in this macro if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
# [gcode_macro SET_GCODE_OFFSET]
# rename_existing: SET_GCODE_OFFSET_ORIG
# variable_restored: False  # Mark whether the var has been restored from NVM
# variable_runtime_offset: 0
# gcode:
#   {% if params.Z_ADJUST %}
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
#   {% endif %}
#   {% if params.Z %}
#     {% set paramList = rawparams.split() %}
#     {% for i in range(paramList|length) %}
#       {% if paramList[i]=="Z=0" %}
#         {% set temp=paramList.pop(i) %}
#         {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
#         {% if paramList.append(temp) %}{% endif %}
#       {% endif %}
#     {% endfor %}
#     {% set rawparams=paramList|join(' ') %}
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
#   {% endif %}
#   SET_GCODE_OFFSET_ORIG { rawparams }



# # This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
# [gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
# gcode:
#   BED_MESH_CLEAR
#   G28 X Y
#   G90 # Abs positioning
#   G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
#   {% if 'z' not in printer.toolhead.homed_axes %}
#     SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
#   {% endif %}
#   PROBE_EDDY_CURRENT_CALIBRATE {rawparams}



# #This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
# #[gcode_macro BED_MESH_CALIBRATE]
# #rename_existing: BTT_BED_MESH_CALIBRATE
# #gcode:
# #  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
# #  BTT_BED_MESH_CALIBRATE METHOD=rapid_scan
# #  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg

# Feb01 End eddy/Eddy changes


[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8
dir_pin: extra_mcu:PB8
enable_pin:!extra_mcu: PB11
rotation_distance: 6.5
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 150
heater_pin:extra_mcu:PB9
sensor_type:my_thermistor_e
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5
min_temp: 5
max_temp: 305
max_power: 1.0
min_extrude_temp: 150 # 5
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PB10
interpolate: True
run_current: 0.8
#hold_current: 0.75
uart_address:3
sense_resistor: 0.150

[verify_heater extruder]
max_error: 120
check_gain_time:30
hysteresis: 5
heating_gain: 2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor
sensor_pin: PC5
max_power: 1.0
min_temp: 5
max_temp: 105
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120
check_gain_time:40
hysteresis: 5
heating_gain: 2

# [probe_pressure]
# pin: ^!PE12
# x_offset: 0
# y_offset: 0
# z_offset : 0
# speed: 1.0

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400
horizontal_move_z: 10
retry_tolerance: 0.05
retries: 5
max_adjust: 30

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]
pin: extra_mcu:PA6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]
resolution: 1.0

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 35
shaper_type_y = mzv
shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050625:3185816.805,0.090000:3185441.440,0.129375:3185089.801,
#*# 	0.170625:3184726.374,0.210000:3184399.238,0.249375:3184044.324,
#*# 	0.290625:3183696.166,0.330000:3183372.302,0.369375:3183060.888,
#*# 	0.410625:3182739.268,0.450000:3182426.382,0.489375:3182129.724,
#*# 	0.530625:3181816.882,0.570000:3181507.900,0.609375:3181235.279,
#*# 	0.650625:3180929.791,0.690000:3180674.931,0.729375:3180390.242,
#*# 	0.770625:3180111.874,0.810000:3179852.953,0.849375:3179558.188,
#*# 	0.890625:3179313.228,0.930000:3179051.645,0.969375:3178793.965,
#*# 	1.010625:3178548.957,1.050000:3178310.224,1.089375:3178076.683,
#*# 	1.130625:3177824.963,1.170000:3177593.134,1.209375:3177401.878,
#*# 	1.250625:3177147.347,1.290000:3176923.290,1.329375:3176715.413,
#*# 	1.370625:3176470.578,1.410000:3176280.798,1.449375:3176058.247,
#*# 	1.490625:3175862.918,1.530000:3175666.741,1.569375:3175431.885,
#*# 	1.610625:3175257.329,1.650000:3175055.849,1.689375:3174873.654,
#*# 	1.730625:3174671.599,1.770000:3174506.918,1.809375:3174326.737,
#*# 	1.850625:3174143.572,1.890000:3173940.614,1.929375:3173795.679,
#*# 	1.970625:3173619.032,2.010000:3173442.190,2.049375:3173285.030,
#*# 	2.090625:3173107.120,2.130000:3172978.936,2.169375:3172822.844,
#*# 	2.210625:3172660.233,2.250000:3172500.389,2.289375:3172359.161,
#*# 	2.330625:3172212.435,2.370000:3172052.879,2.409375:3171922.251,
#*# 	2.450625:3171779.566,2.490000:3171646.083,2.529375:3171506.761,
#*# 	2.570625:3171377.520,2.610000:3171245.308,2.649375:3171122.491,
#*# 	2.690625:3170987.547,2.730000:3170869.990,2.769375:3170726.869,
#*# 	2.810625:3170589.587,2.850000:3170483.789,2.889375:3170384.427,
#*# 	2.930625:3170250.300,2.970000:3170143.239,3.009375:3170028.912,
#*# 	3.050625:3169913.617,3.090000:3169800.978,3.129375:3169682.901,
#*# 	3.170625:3169578.947,3.210000:3169419.829,3.249375:3169379.050,
#*# 	3.290625:3169265.468,3.330000:3169162.992,3.369375:3169055.654,
#*# 	3.410625:3168968.870,3.450000:3168849.286,3.489375:3168765.645,
#*# 	3.530625:3168665.975,3.570000:3168563.547,3.609375:3168468.003,
#*# 	3.650625:3168364.672,3.690000:3168283.902,3.729375:3168195.237,
#*# 	3.770625:3168107.722,3.810000:3168025.493,3.849375:3167902.783,
#*# 	3.890625:3167849.931,3.930000:3167781.242,3.969375:3167696.825,
#*# 	4.010625:3167595.309,4.050000:3167530.114
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 42.569066
#*# drift_calibration =
#*# 	3194759.445066, -279.709044, 1.461490
#*# 	3188922.429764, -189.099388, 0.703255
#*# 	3184647.231600, -147.709559, 0.458634
#*# 	3181555.799927, -134.618851, 0.432732
#*# 	3178122.689749, -93.226289, 0.101689
#*# 	3175600.245915, -79.536829, 0.062411
#*# 	3172816.414135, -40.398993, -0.240670
#*# 	3171173.163919, -38.175792, -0.170974
#*# 	3169035.370752, -2.578593, -0.482565
#*# drift_calibration_min_temp = 38.50492771130725
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.170383, -0.135811, -0.118505, -0.078104, -0.060983, -0.068168, -0.074537
#*# 	-0.202984, -0.078324, -0.015906, 0.023398, 0.046010, 0.051693, 0.001717
#*# 	-0.167794, -0.017999, 0.016519, 0.066135, 0.082775, 0.077583, 0.021160
#*# 	-0.204920, -0.065285, 0.018677, 0.069731, 0.112175, 0.128348, 0.092871
#*# 	-0.196302, -0.051387, 0.001385, 0.048345, 0.099138, 0.123333, 0.107155
#*# 	-0.228256, -0.103888, -0.057725, 0.002791, 0.075978, 0.150967, 0.188917
#*# 	-0.213931, -0.188318, -0.150684, -0.092045, -0.005084, 0.100186, 0.198297
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 334.98
#*# min_y = 18.0
#*# max_y = 334.97999999999996
